server:
  port: 9091
  base_url: http://127.0.0.1:9091

github:
  client_id: ${GITHUB_CLIENT_ID}

allowed_actions:
  - create-repo
  - merge-pr
  - create-tag
  - add-collaborator

audit:
  db_path: ./audit.db
